<div class="banner">
    <div class="col-sm-6 mx-auto">
        <h2>
            <i class="icon-pencil icons mr-2"></i> Add QA</h2>
    </div>
</div>
<div class="col-sm-6 mx-auto">
        <form name="form" (ngSubmit)="f.form.valid && addModelQA()" #f="ngForm" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Question.valid }">
                        <label for="Question" class="text-muted">Enter the modal question (max characters 500)</label>
                        <textarea type="text" class="form-control" name="Question" [(ngModel)]="model.Question" #Question="ngModel" required></textarea>
                        <div *ngIf="f.submitted && !Question.valid" class="help-block">Model Question is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !Answer.valid }">
                        <label for="Answer" class="text-muted">Model Answer</label>
                        <textarea type="Answer" class="form-control" name="Answer" [(ngModel)]="model.Answer" #Answer="ngModel" required></textarea>
                        <div *ngIf="f.submitted && !Answer.valid" class="help-block">Model Answer is required</div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Add Q&A</button>
            </div>
        </form>
</div>



<!-- <br>
<button (click)="logout()">Logout</button> -->