<div class="banner">
    <div class="col-sm-8 mx-auto">
        <h2>
            <i class="icon-book-open icons mr-2"></i> View QA</h2>
    </div>
</div>

<div class="col-sm-8 mx-auto">
        <form novalidate #myForm="ngForm">
            <kendo-grid [data]="ProductList" [pageSize]="pageSize" [skip]="skip" [sortable]="true" [height]="410" (dataStateChange)="onStateChange($event)"
                (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)">
                <kendo-grid-column field="modelQuestion" title="Questions" width=400>
                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                        <input [(ngModel)]="dataItem.modelQuestion" kendoGridFocusable name="modelQuestion" class="form-control" required/>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="modelAnswer" title="Answers">
                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                        <textarea [(ngModel)]="dataItem.modelAnswer" kendoGridFocusable name="modelAnswer" class="form-control" rows="6" required></textarea>
                    </ng-template>
                </kendo-grid-column>

                <kendo-grid-column field="id" title="id" hidden="true">
                </kendo-grid-column>
                <kendo-grid-command-column title="Actions" width=300>
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                        <button kendoGridEditCommand class="btn btn-sm btn-light" type="button" [primary]="true">
                            <i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                        <button kendoGridRemoveCommand class="btn btn-sm btn-light" type="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button>
                        <button kendoGridSaveCommand type="button" class="btn btn-sm btn-light" [disabled]="myForm.invalid || myForm.pristine">
                            <i class="fa fa-refresh" aria-hidden="true"></i> {{ isNew ? 'Add' : 'Update' }}</button>
                        <button kendoGridCancelCommand class="btn btn-sm btn-light" type="button">
                            <i class="fa fa-close" aria-hidden="true"></i> {{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid>
        </form>
</div>