


<div class="login-wrap">
      <div class="form-signin text-center">
      <img class="mb-4" src="/assets/images/image1.PNG" alt="" width="200">
      <p class="text-muted m-2">Enter your login details to login securly or register <a (click)="register()" class="link">here</a>.</p>
      
         <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="input-group mb-0" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
             <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="icon-user icons"></i></span>
        </div>
            <input type="text" class="form-control" placeholder="Jhone" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        </div>
        <div class="input-group mb-3" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
             <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="icon-lock icons"></i></span>
        </div>
            <input type="password" class="form-control" placeholder="......" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary btn-block">Login</button>
        </div>
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </form>
</div>
