<div class="banner">
  <div class="col-sm-6 mx-auto">
    <h2>
      <i class="icon-badge icons mr-2"></i> Marks List</h2>
  </div>
</div>
<div class="col-sm-6 mx-auto">
  <table class="table table-striped">
    <tr>
      <th scope="col">#</th>
      <th>Student Name</th>
      <th>Total Score</th>
      <th></th>
    </tr>
    <tr *ngFor="let Tscore of totalScore;index as i">
      <td scope="row">1</td>
      <td>
        {{Tscore.attributes.username}}
      </td>
      <td>
        {{Tscore.attributes.TotalScore}}
      </td>
      <td>
        <div ng-if="Tscore.attributes.TotalScore > 5">
          <img src="assets/images/certificate.png" width="32">
        </div>
      </td>
    </tr>

  </table>
</div>




<!-- <button (click)="addQues()">Add Q&A</button> -->
<!-- <br>
  <br>
  <button (click)="logout()">Logout</button> -->