<div class="banner">
  <div class="col-sm-6 mx-auto">
    <h2>
      <i class="icon-badge icons mr-2"></i> My Marks</h2>
  </div>
</div>

<div class="col-sm-6 mx-auto">
  <table class="table table-striped">
    <tr>
      <th>Question Number</th>
      <th>Score</th>
    </tr>
    <tr *ngFor="let Iscore of splitIndividual;index as i">
      <td>
        {{i+1}}
      </td>
      <td>
        {{Iscore}}
      </td>
    </tr>
    <tr>
      <th>Total</th>
      <td>{{totalScore}}</td>
    </tr>

  </table>
</div>
<!-- <button (click)="logout()">Logout</button> -->