<div class="banner">
  <div class="col-sm-6 mx-auto">
    <h2>
      <i class="icon-clock icons mr-2"></i>Exam Session</h2>
  </div>
</div>

<div class="col-sm-6 mx-auto">
  <ul>
    <div *ngFor="let user of result">
      <div class="form-group">
        <label>{{ user.attributes.modelQuestion }}</label>
        <textarea id="{{user.id}}" rows="4" cols="50" required class="form-control"></textarea>
        <div id="{{user.id}}+req" style="color:red"></div>
      </div>
    </div>
    <button class="btn btn-primary mt-2" (click)="spinner.show();submitExam(0)">Submit</button>
  </ul>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-atom" loadingText="Please Wait Until We Score Your Answers..."></ngx-spinner>