<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top" *ngIf="isLogged">
  <a class="navbar-brand">Exam</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="role=='User'">

        <a class="nav-link" [routerLink]="['/userexam']">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

          <span>Take Exam </span>
        </a>
      </li>
      <li class="nav-item" *ngIf="role=='Admin'">

        <a class="nav-link" [routerLink]="['/adminadd']">
          <i class="fa fa-plus-square" aria-hidden="true"></i>

          <span>Add Model Q&A </span>
        </a>
      </li>
      <li class="nav-item" *ngIf="role=='Admin'">
        <a class="nav-link" [routerLink]="['/adminview']">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <span>View Model Q&A </span>
        </a>
      </li>
      <li class="nav-item" *ngIf="role=='Admin'">
        <a class="nav-link" [routerLink]="['/adminHome']">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <span>View Student Marks </span>
        </a>
      </li>
      <li class="nav-item" *ngIf="role=='User'">
        <a class="nav-link" [routerLink]="['/userHome']">
          <i class="fa fa-list-ul" aria-hidden="true"></i>
          <span>View Marks</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="cursor:pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true" style="cursor:pointer;"></i>
          {{name}}
        </a>
        <div class="dropdown-menu"  aria-labelledby="navbarDropdownMenuLink">
          <!-- <a class="dropdown-item" [routerLink]="['/profile']">Profile</a> -->
          <a class="dropdown-item" style="cursor:pointer;"  (click)="Logout()">Logout</a>

        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid container-x">
  <router-outlet></router-outlet>
</div>