/* You can add global styles to this file, and also import other style files */

body {}

.show .dropdown-menu {
    display: block;
}

.help-block {
    color: red;
}

a:not([href]):not([tabindex]) {
    color: #007bff;
    text-decoration: none;
}

.container-x {
    /*margin-top: 80px;*/
}


span.round-x {
    background: #007bff;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 2.5;
    text-align: center;
    border-radius: 40px;
    font-weight: 500;
}

.banner {
    height: 90px;
    background: #007bff;
    color: #fff;
    padding: 25px 20px;
    margin: 70px 0 20px 0;
}

.banner h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
}

.navbar-brand {
    font-size:1.5em;
    /* color: #fff !important; */
    width: 140px;
    font-weight: 900;
    padding: 0;
}

ul.navbar-nav {
}

ul.navbar-nav a {
    /* color: #fff !important; */
    font-weight: 500;
    margin-left: 40px;
}

ul.navbar-nav a i {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 1.2em;
    display: none;
}

.dropdown-menu .dropdown-item {
    color: #999 !important;
    margin: 0;
    font-size: 14px;
}

.dropdown-menu {
    right: 0;
    left: auto;
}
.dropdown-item:hover,.dropdown-item:focus{
    background: #fff !important;
}


.dropdown-menu:before {
    content: "";
    position: absolute;
    right: 16px;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.k-button,.k-button:hover,.k-button:focus {
    background: rgba(0, 123, 255, 0.1) !important;
    border-color: rgba(0, 123, 255, 0.1) !important;
    color: #007bff !important;
    box-shadow: none !important;
}
.k-button:hover{
    opacity: 0.8;
}