
  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container"><a href="./" class="navbar-brand">Learn</a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars ml-2"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                  <!-- Link-->
                  <li class="nav-item"> <a [routerLink]="['/home']" class="nav-link active">Home</a></li>
                  <li class="nav-item"> <a href="#machine" class="nav-link">Why Machine Learning ?</a></li>
                  <li class="nav-item"> <a href="#subjects" class="nav-link pagelink">Subjects</a></li>
                  <li>
                      <a [routerLink]="['/login']" class="btn btn-primary navbar-btn ml-0 ml-lg-3">Login </a>
                  </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="hero">
      <div class="container mb-5">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h1 class="hero-heading mb-0">Take <strong>exam</strong> <br> forward</h1>
            <div class="row">
              <div class="col-lg-10">
                <p class="lead text-muted mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur. Eiusmod tempor incididunt.</p>
              </div>
            </div>
            <form action="#" class="subscription-form">
              <div class="form-group">
                <input type="email" name="email" placeholder="jhone@student.com" class="form-control">
                <button type="submit" class="btn btn-primary">Get Started</button>
              </div>
            </form>
          </div>
          <div class="col-lg-6"><img src="assets/images/illustration-hero.svg" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="text-center">
          <h2>Track score from start to finish </h2>
          <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p><a href="#" class="btn btn-primary">Learn More</a>
        </div>
        <div class="row">
          <div class="col-lg-7 mx-auto mt-5"><img src="assets/images/illustration-1.svg" alt="..." class="intro-image img-fluid"></div>
        </div>
      </div>
    </section>

    <section class="bg-primary text-white" id="machine">
      <div class="container">
        <div class="text-center">
          <h2>Do great things with Machine Learning</h2>
          <div class="row">
            <div class="col-lg-9 mx-auto">
              <p class="lead text-white mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div><a href="#" class="btn btn-outline-light">Learn More</a>
        </div>
      </div>
    </section>

    <section class="bg-gray">
      <div class="container">
        <div class="text-center">
          <h2>Trusted by students everywhere</h2>
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. sed do eiusmod tempor incididunt..</p>
            </div>
          </div>
        </div>
        <div class="clients mt-5">
          <div class="row">
            <div class="col-lg-3"><img src="assets/images/thought.png" alt="" class="client-image img-fluid"></div>
            <div class="col-lg-3"><img src="assets/images/test.png" alt="" class="client-image img-fluid"></div>
            <div class="col-lg-3"><img src="assets/images/gravity.png" alt="" class="client-image img-fluid"></div>
            <div class="col-lg-3"><img src="assets/images/trophy.png" alt="" class="client-image img-fluid"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="subjects">
      <div class="container">
        <div class="text-center">
          <h2>Attend exam from anywhere!</h2>
          <div class="row">
              <div class="col-sm-3 mt-4">
                  <div class="card">
                      <img class="card-img-top" src="http://via.placeholder.com/350x250" class="img-fluid">
                      <div class="card-block">
                          <h4 class="card-title mt-3">General Knowledge</h4>  
                          <p class="card-text mb-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing. Vitae animi mollitia.
                          </p>
                      </div>
                      <div class="card-footer">
                          <label class="badge badge-success pull-left mt-2">Available</label> 
                          <a href="" class="btn btn-primary pull-right btn-sm">Take</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-4">
                  <div class="card">
                      <img class="card-img-top" src="http://via.placeholder.com/350x250" class="img-fluid">
                      <div class="card-block">
                          <h4 class="card-title mt-3">English Grammer</h4>  
                          <p class="card-text mb-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing. Vitae animi mollitia.
                          </p>
                      </div>
                      <div class="card-footer">
                          <label class="badge badge-danger pull-left mt-2">Expired</label> 
                          <a href="" class="btn btn-secondary pull-right btn-sm">Take</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-4">
                  <div class="card">
                      <img class="card-img-top" src="http://via.placeholder.com/350x250" class="img-fluid">
                      <div class="card-block">
                          <h4 class="card-title mt-3">Data Viz</h4>  
                          <p class="card-text mb-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing. Vitae animi mollitia.
                          </p>
                      </div>
                      <div class="card-footer">
                          <label class="badge badge-success pull-left mt-2">Available</label> 
                          <a href="" class="btn btn-primary pull-right btn-sm">Take</a>
                      </div>
                  </div>
              </div>
              <div class="col-sm-3 mt-4">
                  <div class="card">
                      <img class="card-img-top" src="http://via.placeholder.com/350x250" class="img-fluid">
                      <div class="card-block">
                          <h4 class="card-title mt-3">Language</h4>  
                          <p class="card-text mb-3">
                              Lorem ipsum dolor sit amet, consectetur adipisicing. Vitae animi mollitia.
                          </p>
                      </div>
                      <div class="card-footer">
                          <label class="badge badge-success pull-left mt-2">Available</label> 
                          <a href="" class="btn btn-primary pull-right btn-sm">Take</a>
                      </div>
                  </div>
              </div>
</div>
        </div>
      </div>
    </section>

    <section class="bg-gray">
      <div class="container text-center text-lg-left">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <h2 class="divider-heading">Happy Students Happy World!</h2>
            <div class="row">
              <div class="col-lg-10">
                <p class="lead divider-subtitle mt-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing. Vitae animi mollitia cumque sunt soluta. consectetur adipisicing.</p>
              </div>
            </div><a href="#" class="btn btn-primary">Top Students</a>
          </div>
          <div class="col-lg-5 mt-5 mt-lg-0"><img src="assets/images/illustration-2.svg" alt="" class="divider-image img-fluid"></div>
        </div>
      </div>
    </section>

    <section class="get-started">
      <div class="container text-center">
        <h2>Pre Releases for exam</h2>
        <div class="row">
          <div class="col-lg-8 m-auto">
            <p class="lead text-muted mt-2">Subscribe for latest set of exam sylabus Releases</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <form action="#" class="subscription-form mt-5">
              <div class="form-group">
                <input type="email" name="email" placeholder="jhon@student.com" class="form-control">
                <button type="submit" class="btn btn-primary">Get Started</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-5 mb-lg-0">
            <div class="footer-logo"><strong><h4>Exam.</h4></strong></div>
          </div>
          <div class="col-lg-3 mb-5 mb-lg-0">
            <h5 class="footer-heading">Pages</h5>
            <ul class="list-unstyled">
              <li> <a href="" class="footer-link">Home</a></li>
              <li> <a href="" class="footer-link">FAQ</a></li>
              <li> <a href="" class="footer-link">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-3 mb-5 mb-lg-0">
            <h5 class="footer-heading">Product</h5>
            <ul class="list-unstyled">
              <li> <a href="#" class="footer-link">Why Exam?</a></li>
              <li> <a href="#" class="footer-link">Questionires</a></li>
              <li> <a href="#" class="footer-link">Take Exam</a></li>
            </ul>
          </div>
          <div class="col-lg-3">
            <h5 class="footer-heading">Resources</h5>
            <ul class="list-unstyled">
              <li> <a href="#" class="footer-link">Download Samples</a></li>
              <li> <a href="#" class="footer-link">Practice Test</a></li>
              <li> <a href="#" class="footer-link">Study Materials</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
              <p class="copyrights-text mb-3 mb-lg-0">&copy; All rights reserved.</p>
              
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <ul class="list-inline social mb-0">
                <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook"></i></a><a href="#" class="social-link"><i class="fa fa-twitter"></i></a><a href="#" class="social-link"><i class="fa fa-youtube-play"></i></a><a href="#" class="social-link"><i class="fa fa-vimeo"></i></a><a href="#" class="social-link"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    
  </body>