
<div class="login-wrap">
      <div class="form-signin text-left">
    <h2 class="mb-2"><strong>Register</strong></h2>
    <p class="text-muted"> Already member <a href="" class="link">Sign In</a></p>
      
         <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
           
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fullname.valid }">
                <label for="fullname">Fullname</label>
                <input type="fullname" class="form-control" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" required />
                <div *ngIf="f.submitted && !fullname.valid" class="help-block">Fullname is required</div>
            </div>
            
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
          <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
      </div>
      
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-block">Register</button>
      </div>
      

          
    </form>
</div>
