.login-wrap {
     background-color: #eff4fe;
    background: url(https://recast.ai/blog/wp-content/uploads/2017/10/ml-cover.jpg);
    font-size: 13px;
    min-height: 100vh;
    background-size: cover;
    margin:0 -15px;
}
.login-wrap:before, .login-wrap:after {
    content: "";
    display: table;
    clear: both;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top:100px;
  background-color:#fff;
  border-radius: 10px;
}


.form-signin .input-group-text {
  background: transparent;
  border: 0;
  position: absolute;
  z-index: 100;
  top: 3px;
  font-size: 1.3em;
  color: #007bff;
}
.form-signin .form-control {
  padding-left:50px;
  border: 1px solid #eee;
  border-radius: 1px;
}

.container-x {
    margin-top: 0 !important;
}